.mobileArea {
  width: 36%;
  height: auto;
  background: #F7F6FB;

  &__container {
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-left: 5em;
  }

  &__img-wrapper {
    height: 490px;
    display: flex;
    
    align-items: flex-end;
    z-index: 1;
  }

  &__img {
    width: 350px;
    height: auto;
    position: relative;
    top: 210px;
    right: 0;
    image-rendering: -webkit-optimize-contrast;

    // max-width: 100%;
    // height: auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    z-index: 2;
    background: #F7F6FB;
    width: 100%;
    height: auto;

    &-title {
      // font-family: Gilroy;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      line-height: 32px;
      letter-spacing: 0.4000000059604645px;
      color: #3B3B3B;
  
    }
    &-text {
      // font-family: Gilroy;
      font-size: 15px;
      text-align: center;
      color: #242729;
      padding-top: 12px;
    }
  }
  &__btn {
    margin-top: 28px;
    padding: 12px 20px;
    cursor: pointer;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(47, 44, 59, 0.07);
    border: none;
    border-radius: 12px;

    // font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

}